body {
    background-image: url(latar.jpg);
}


.container {
    display: flexbox;
    background-color: #F875AA;
    margin-top: 150px;
    margin-left: 350px;
    margin-right: 150px;
    width: 800px;
    height: 400px;
    padding-bottom: 50px;
    padding-top: 3px;
    padding-left: 15px;
}

.container .text {
    text-align: left;
    border: 5px solid rgb(19, 21, 14);
    box-shadow: 5px 5px;
    margin-top: 10px;
    width: 400px;
}

.container .text h1 {
    margin-left: 20px
}

.box-one {
    margin-top: 40px;
    margin-left: 10px;
    font-family: sans-serif;
}

.box-one label {
    font-size: 20px;
    font-weight: bold;
}

.box-one input {
    background-color: rgba(232, 231, 231, 0.911);
    width: 750px;
    height: 45px;
    margin-top: 10px;
    border: hidden;
    box-shadow: 2px 2px 2px;
    font-size: 20px;
    text-indent: 7px;

}

.box-two {
    margin-top: 40px;
    margin-left: 10px;
    font-family: sans-serif;
}

.box-two label {
    font-size: 20px;
    font-weight: bold;
}

.box-two input {
    background-color: rgba(232, 231, 231, 0.911);
    width: 750px;
    height: 45px;
    margin-top: 10px;
    border: hidden;
    box-shadow: 2px 2px 2px;
    font-size: 20px;
    text-indent: 7px;
}

button {
    display: flexbox;
    margin-top: 20px;
    margin-left: 43px;
    width: 100px;
    height: 50px;
    font-size: 25px;
    background-color: bisque;
    box-shadow: 1px 1px 1px 1px;
}
column {
    float: left;
    padding: 10px;
    }
    /* Left and right column */
    .column.side {
    width: 25%;
    }
    .column.middle {
        width: 50%;
        }    
